.weekly-recipe-edit-wrapper .insert {
    position: relative;
  }
  .weekly-recipe-edit-wrapper .insert::before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: -0.4rem;
    border-top: 2px dashed #00bcd4;
  }
  
  .weekly-recipe-edit-wrapper {
    display: flex;
    /* padding: 60px 50px; */
    margin: 50px auto;
    /* justify-content: space-between; */
    justify-content: center;
  }
  
  .weekly-recipe-edit-wrapper .ant-input-number-sm {
    width: 55px;
  }