.menu-list-edit-wrapper .menulist-wrapper {
    width: 256px;
    height: 500px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    overflow: scroll;
    border-radius: 4px;
}

.menu-list-edit-wrapper .menulist-wrapper .menulist-title {
    background: #F5F5F5;
    padding: 15px;
    font-size: 14px;
    border-radius: 3px;
}

.menu-list-edit-wrapper .ant-menu-inline, .menu-list-edit-wrapper .ant-menu-vertical,.menu-list-edit-wrapper .ant-menu-vertical-left {
    border-right: none!important;
}
.menu-list-edit-wrapper .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff!important;
}