.weekly-recipe-edit-wrapper .droplist-wrapper {
    width: 220px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    overflow: scroll;
    border-radius: 4px;
}
.weekly-recipe-edit-wrapper .menulist-title {
    background: #F5F5F5;
    padding: 15px;
    font-size: 14px;
    border-radius: 3px;
}
.weekly-recipe-edit-wrapper .ant-menu-inline .ant-menu-item::after {
    border-right: none!important;
}
.weekly-recipe-edit-wrapper .droplist-wrapper .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff!important;
}