.menu-list-edit-wrapper .main-wrapper {
    position: relative;
    width: 520px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    overflow: scroll;
    margin: 0 20px;
    border-radius: 4px;
    
}
.menu-list-edit-wrapper .main-wrapper .main-top {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.menu-list-edit-wrapper .main-wrapper .foods-name, .menu-list-edit-wrapper .main-wrapper .foods-select {
    display: flex;
    width: 220px;
    align-items: center;
}
.menu-list-edit-wrapper .main-wrapper .foods-name .item-s, .menu-list-edit-wrapper .main-wrapper .foods-select .item-s {
    display: inline-block;
    width: 80px;
}
.menu-list-edit-wrapper .main-wrapper .table-input-item {
    text-align: center;

    width: 80px;
}
.menu-list-edit-wrapper .main-wrapper .main-content {
    height: 100%;
}
.menu-list-edit-wrapper .main-wrapper .btn-save {
    position: absolute;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
.menu-list-edit-wrapper .main-wrapper .btn-save:hover {
    opacity: 0.8;
}
.menu-list-edit-wrapper .main-wrapper .ant-table-tbody > tr > td {
    padding: 16px 16px;
    overflow-wrap: break-word;
    max-width: 128px!important;
}