.weekly-recipe-edit-wrapper .ant-input-number {
    width: 55px!important;
}
.weekly-recipe-edit-wrapper .ant-tag {
    width: 20px!important;
    height: 20px!important;
    display: flex!important;
    align-items: center!important;
    padding: 0!important;
    border-radius: 50%!important;
    /* color: #fdad58!important; */
}
.weekly-recipe-edit-wrapper .tag-wrapper {
    display: inline-block;
    margin-left: 10px;
    padding: 0 10px;
    opacity: 0;
}
.weekly-recipe-edit-wrapper .tag-wrapper:hover {
    opacity: 1;
}
.weekly-recipe-edit-wrapper .td-name {
    display: inline-block;
    width: 60px;
    margin-right: 10px;
    /* height: 100%; */
    vertical-align: middle;
}
.td-f-c {
    /* color: #fdad58; */
}